<!DOCTYPE html>
<html>
<head>
    <title><%= doc[0].title %></title>
    <meta http-equiv="Content-Type" content="text/html;charset=utf-8"/>
    <script type="text/javascript" charset="utf-8" src="/ueditor/ueditor.config.js"></script>
    <script type="text/javascript" charset="utf-8" src="/ueditor/ueditor.all.min.js"> </script>
    <script type="text/javascript" charset="utf-8" src="/ueditor/lang/zh-cn/zh-cn.js"> </script>
    <style type="text/css">
        div{width:90%;margin:auto;max-width:1000px;}
        input{width:200px;height:20px;margin:10px;}
        textarea{width:500px;height:200px;margin:10px;}
        label{margin:10px 10px 10px 0;display:inline-block;vertical-align:top;}
        button{padding:5px 20px;margin:10px 10px 10px 58px;display:inline-block;vertical-align:top;}
    </style>
</head>
<body>
<div>
    <h3>编辑文章</h3>
    <label>标题：</label><input id="title" value="<%= doc[0].title %>" /><br />
    <label>作者：</label><input id="writer" value="<%= doc[0].writer %>" /><br />
    <label>类别：</label><input id="classification" value="<%= doc[0].classification %>" /><br />
    <label>权限：</label><input id="right" value="<%= doc[0].right %>" /><br />
    <label>概要：</label><textarea id="brief" placeholder="简要概述"><%= doc[0].brief %></textarea>
    <input type="hidden" id="article" value="<%= doc[0].article %>" />
    <script id="editor" type="text/plain" style="width:880px;height:600px;"></script>
    <button id="getContent" onclick="getContent()">提交</button>
</div>
<script type="text/javascript" charset="utf-8" src="/javascripts/jquery-1.12.0.min.js"> </script>
<script type="text/javascript">

    //实例化编辑器
    //建议使用工厂方法getEditor创建和引用编辑器实例，如果在某个闭包下引用该编辑器，直接调用UE.getEditor('editor')就能拿到相关的实例
    var ue = UE.getEditor('editor',{
         autoHeight: false
    });
    ue.ready(function() {
        console.log($('#article').val());
        ue.setContent($('#article').val());
    });
    function getContent(){
        ue.ready(function() {
            var html = ue.getContent();
            console.log(html);
            var _id = location.search.split('=')[1];
            var title = $('#title').val();
            var writer = $('#writer').val();
            var brief = $('#brief').val();
            var classification = $('#classification').val();
            var right = $('#right').val();
            console.log(_id);
            $.post('/editArticle',{
                _id:_id,
                title:title,
                writer:writer,
                article:html,
                brief:brief,
                classification:classification,
                right:right
            },function(res){
                console.log(res)
                if(res.code == 200){
                    location.reload();
                }
            })
        });
    }
</script>
</body>
</html>