<!DOCTYPE html>
<html>
<head>
    <title><%= doc[0].title %></title>
    <meta http-equiv="Content-Type" content="text/html;charset=utf-8"/>
    <link rel="stylesheet" href="/editormd/css/style.css" />
    <link rel="stylesheet" href="/editormd/css/editormd.css" />
    <style type="text/css">
        .title_style{width:90%;margin:auto;}
        .edit_input{width:200px;height:20px;margin:10px;padding: 10px 4px;}
        .edit_textarea{width:500px;height:200px;margin:10px;}
        .label_name{margin:10px 10px 10px 0;display:inline-block;vertical-align:top;}
        #getContent{padding:5px 20px;margin:10px 10px 10px 58px;display:inline-block;vertical-align:top;}
    </style>
</head>
<body>
<div id="layout">
    <div class="title_style">
        <h3>编辑文章</h3>
        <label class="label_name">标题：</label><input id="title" class="edit_input" value="<%= doc[0].title %>" /><br />
        <label class="label_name">作者：</label><input id="writer" class="edit_input" value="<%= doc[0].writer %>" /><br />
        <label class="label_name">类别：</label><input id="classification" class="edit_input" value="<%= doc[0].classification %>" /><br />
        <label class="label_name">权限：</label><input id="right" class="edit_input" value="<%= doc[0].right %>" /><br />
        <label class="label_name">概要：</label><textarea id="brief" class="edit_textarea" placeholder="简要概述"><%= doc[0].brief %></textarea>
<!--         <input type="hidden" id="article" value="<%= doc[0].article %>" />
        <script id="editor" type="text/plain" style="width:880px;height:600px;"></script> -->
        <button id="getContent">提交</button>
        <div id="test-editormd">
            <textarea style="display:none;">
                <%= doc[0].article %>
            </textarea>
        </div>
    </div>
</div>
<script type="text/javascript" charset="utf-8" src="/javascripts/jquery-1.12.0.min.js"> </script>
<script type="text/javascript" src="/editormd/js/editormd.min.js"></script>
<script type="text/javascript">
    var testEditor;
    $(function() {
        testEditor = editormd("test-editormd", {
            width   : "90%",
            height  : 640,
            syncScrolling : "single",
            path    : "/editormd/lib/",
            saveHTMLToTextarea: true
        });

        $('#getContent').click(function(){
            // console.log(testEditor.getMarkdown());
            // console.log(testEditor.getHTML());
            // console.log(testEditor.getPreviewedHTML());
            var _id = location.search.split('=')[1];
            var title = $('#title').val();
            var writer = $('#writer').val();
            var brief = $('#brief').val();
            var classification = $('#classification').val();
            var right = $('#right').val();
            $.post('/editArticle',{
                _id:_id,
                title:title,
                writer:writer,
                article:testEditor.getMarkdown(),
                brief:brief,
                classification:classification,
                right:right
            },function(res){
                console.log(res);
                if(res.code == 200){
                    
                }
            });
        })
    });
</script>
</body>
</html>