<!DOCTYPE html>
<!-- <html manifest="index.manifest"> -->
<html>
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<title>村农</title>
<meta name="description" content="">
<meta name="keywords" content="">
<link type="text/css" rel="styleSheet" href="/stylesheets/style.css">
<style>
	.text_input{width:400px;margin:6px auto;color:#333;text-align:left;font-size:18px;display:block;}
	.child_spread{width:46px;height:20px;font-size:11px;background: #FFF;border: 1px solid #ccc;border-radius: 4px;}
	.child_show{width:400px;margin:auto;}
	.child_person_show{border-bottom:1px solid #ccc;}
	.child_name,.child_text,.child_star{display:inline-block;vertical-align:middle;}
	.child_text{width:300px;margin:8px 4px;text-align:left;color:#666;font-size:16px;}
	.child_star{color:red;cursor:pointer;}
	.submit_input{width:50px;border:1px solid #999;border-radius:4px;padding:5px;color:#666;vertical-align: top;}
	#storyContent{width:500px;height:100px;}
	#submitData{width:60px;margin:10px auto;padding:5px 10px;border:1px solid #999;border-radius:5px;cursor:pointer;display:block;}
</style>
</head>
<body>
 	<% for(var i in data){ %>
		<p class="text_input" data-rank="<%= data[i].rank %>" value="<%= data[i].storyContent %>" ><%= data[i].rank %>、 <%= data[i].storyContent %>（<%= data[i].person %>）
			<span class="child_star" data-id="<%= data[i].id %>"><%= data[i].start %></span>
		</p>
		<% if(i != 0){ %>
			<button class="child_spread" data-rank="<%= data[i].rank %>">展开</button>
			<div class="child_content_div"></div>
		<% } %>
	<% } %>

<div style="display:block;margin-top:10px;">
	<input id="rank" class="submit_input" placeholder="第几条" />
	<input id="person" class="submit_input" placeholder="名字" />
	<!-- <input id="star" class="submit_input" placeholder="star" /> -->
	<textarea id="storyContent" class="submit_input" placeholder="storyContent"></textarea>
</div>
	<botton id="submitData">提交</botton>
	<div class="child_show" style="display:none;">
		<div class="child_person_show">
			<span class="child_name">TD:</span>
			<p class="child_text">我还是个孩子我还是个孩子我还是个孩子我还是个孩子</p>
			<span class="child_star">0</span>
		</div>
	</div>
</body>
<script src="/javascripts/jquery-1.12.0.min.js"></script>
<script type="text/javascript">


function AppendDom(data){
	var child_show_len = $('.child_show').length;
	$('.child_show').hide();
	this.dom = $('.child_show').eq(child_show_len-1).clone();
	this.data = data;
	// this.addText  = function(this_dom){
	// 	for(var i = 0,len = data.length;i < len;i++){
	// 		var child_person_show_dom = $('.child_person_show').eq(0).clone();
	// 		child_person_show_dom.find('.child_name').text(data[i].name);
	// 		child_person_show_dom.find('.child_text').text(data[i].content);
	// 		child_person_show_dom.find('.child_start').text(data[i].start);
	// 		dom.append(child_person_show_dom);
	// 	}
	// 	this_dom.after(dom);
	// }

}

AppendDom.prototype = {
	addText : function(this_dom){
		this.dom.empty();
		for(var i = 0,len = this.data.length;i < len;i++){
			var child_person_show_dom = $('.child_person_show').eq(0).clone();
			child_person_show_dom.find('.child_name').text(this.data[i].person+'： ');
			child_person_show_dom.find('.child_text').text(this.data[i].storyContent);
			child_person_show_dom.find('.child_star').text(this.data[i].start).attr('data-id',this.data[i]._id);
			this.dom.append(child_person_show_dom);
		}
		this_dom.empty();
		this_dom.append(this.dom.show());
	},
	addDom : function(){

	}
}

$('.child_spread').click(function(){
	var self = this,
		rank_id = $(this).data('rank');
	$.get('/mobile/story/rank?storyId='+location.search.split('=')[1]+'&rank='+rank_id,function(data){
		console.log(data);
		var addContent = new AppendDom(data);
		addContent.addText($(self).next());
	})
})

$('#submitData').click(function(){
	var data_array = [];
	var flag = $('.text_input').length;
	if(flag > 0){
		var fatherId_value = ($('#rank').val() - 1) > 1 ? ($('#rank').val() - 1) : 1 || 1;
		var rank_value = $('#rank').val() > 1 ? $('#rank').val() : 2 || 2;
	}else{
		var fatherId_value = 0;
		var rank_value = 1
	}
	var data_obj = {
		storyId : location.search.split('=')[1],
		fatherId : fatherId_value,
		rank : rank_value,
		start : 1,
		storyContent : $('#storyContent').val(),
		person : $('#person').val() || 'TD'
	}
	data_array.push(data_obj);
	console.log(data_array);
	$.post('/mobile/story/detail',{data:JSON.stringify(data_array)},function(res){
		console.log(res);
		location.reload();
	});
})

$(document).on('click','.child_star',function(){
	var id = $(this).data('id'),
	self = this,
	this_number = parseInt($(this).text());
	$.get('/mobile/story/star?id=' + id,function(res){
		console.log(res);
		if(res.code == 200){
			$(self).text(this_number + 1);
		}
	})
})

</script>
</html>